/* @a11y-pass */
/* Good examples that should NOT trigger issues */

.good-dark-text {
  color: #333333;
  background-color: #ffffff;
}

.good-light-on-dark {
  color: #ffffff;
  background-color: #1a1a1a;
}

.good-opaque-text {
  color: rgba(0, 0, 0, 0.87);
}

.using-variables {
  color: $primary-text;
  background: var(--bg-color);
}

/* @a11y-fail */
/* Bad examples that SHOULD trigger issues */

.bad-very-light-text {
  color: #ddd;
}

.bad-transparent-text {
  color: rgba(100, 100, 100, 0.2);
}

.bad-white-on-white {
  color: #fff;
}
